@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Lichter</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>Test</h1>
    </div>

</div>
